* {
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    [class*="col-"] {
        width: 100%;
    }
}

@media print {
    body {
        background-color: #fff;
        background-image: hide;
    }
}

body {
    background-color: #050f10;
    background-image: url("../images/bground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top; 
}
h1 {
    color: #cd3723;
}
h2 {
    color: blue;
    padding-top: 20px;
}
.container {
    color: #fff;
}
.question-answer {
   color: white;
   margin-top: 40px;
}
.btn {
    margin: 20px;
}
input[type="radio"] {
    margin-left: 20px;
}
.timer-show {
    background-color: #4C4CFF;
    width: 100px;
    height: 100px;
    border: 1px solid blue;
}